* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth; /* efecto para navegar en la misma pagina  */
}
.mision h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 27px;
  font-family: "Segoe UI";
}
.mision p {
  text-align: justify;
  margin-left: 26px;
  margin-right: 26px;
  font-size: 18px;
  margin-top: 20px;
  font-family: "Segoe UI";
}
.vision h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 26px;
  text-transform: capitalize;
  font-family: "Segoe UI";
}
.vision p {
  text-align: justify;
  margin-left: 26px;
  margin-right: 26px;
  font-size: 18px;
  margin-top: 20px;
  font-family: "Segoe UI";
}
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI";
}

.subtitulo {
  text-align: center;
  margin-top: 50px;
}

hr {
  width: 50%;
  margin: auto;
}

/* Biblioteca */
.biblioteca-contenedora {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.img-biblio img {
  width: 100%; /* Hacemos que las imágenes ocupen todo el ancho del contenedor */
  max-width: 400px; /* Limitamos el ancho máximo de las imágenes a 400px */
}

.info-biblioteca {
  flex: 1;
  margin-top: 20px;
  font-family: "Segoe UI";
}

.info-biblioteca h1 {
  margin-bottom: 10px;
}

.info-biblioteca ul {
  list-style: none;
  padding: 0;
}

.info-biblioteca li {
  margin-bottom: 20px;
}

.info-biblioteca2 {
  flex: 1;
  margin-top: 20px;
  font-family: "Segoe UI";
}

.info-biblioteca2 p {
  margin-bottom: 20px;
  font-family: "Segoe UI";
}

.info-biblioteca2 p a {
  text-decoration: none;
  color: rgb(53, 149, 143);
  font-family: "Segoe UI";
}

/* Cancha de fútbol */
.cancha-futibul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  font-family: "Segoe UI";
}

.cancha-futibul img {
  width: 100%; /* Hacemos que las imágenes ocupen todo el ancho del contenedor */
  max-width: 400px; /* Limitamos el ancho máximo de las imágenes a 400px */
}

.cancha-1 {
  flex: 1;
  margin-top: 20px;
}

/* Media Queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .biblioteca-contenedora,
  .cancha-futibul {
    flex-direction: column; /* Cambiamos la dirección a columna en móviles */
  }

  .info-biblioteca,
  .info-biblioteca2,
  .cancha-1 {
    flex: none; /* Quitamos el crecimiento flexible para ocupar el ancho necesario */
  }

  .img-biblio,
  .info-biblioteca,
  .info-biblioteca2,
  .cancha-1 {
    width: 100%; /* Aseguramos que ocupen todo el ancho en móviles */
  }
}
