* {
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 0%;
  background: rgb(10, 64, 100);
}
/* Estilos generales */
.logo {
  flex: 1 1 auto;
}
.menu-vertical.show {
  display: block;
}
.logo img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.menu {
  flex: 1 1 auto;
}

.redes_sociales {
  flex: 1 1 auto;
  margin: 10px 40px 0;
}

.red {
  display: flex;
  margin-top: 20px;
  justify-content: center; /* Centramos horizontalmente las redes sociales */
}

.red a {
  font-size: 26px;
  margin-inline: 10px;
}

.what {
  color: rgb(76, 155, 76);
}

.gmail {
  color: #fff;
}

.encabezado {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten al ancho de la pantalla en dispositivos móviles */
  justify-content: space-between; /* Espacio uniforme entre los elementos en el encabezado */
  align-items: center; /* Centramos verticalmente los elementos del encabezado */
  padding: 1px; /* Agregamos un poco de espaciado entre los elementos */
  margin-bottom: 0%;
}

nav {
  flex: 1 1 40%; /* Ajustamos el ancho de la navegación para que ocupe el 100% del espacio disponible */
  max-width: 90px;
  margin: auto;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.menu-horizontal li {
  position: relative;
}
/* Estilos para pantallas grandes */
#carrerasButton {
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  margin-top: 10px;
  font-size: 8px;
  margin-right: 10px;
  font-family: cursive;
  background-color: transparent;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.menu-horizontal li a {
  color: #fff;
  display: block;
  padding: 10spx 10px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 10px;
  margin-right: 1px;
  padding-right: 120px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 600px) {
  #carrerasButton {
    margin-right: 20px; /* Ajusta el margen para móviles */
    font-size: 8px; /* Ajusta el tamaño de fuente para móviles */
  }

  .menu-horizontal li a {
    padding-right: 20px; /* Ajusta el padding para móviles */
    font-size: 8px; /* Ajusta el tamaño de fuente para móviles */
  }
}

.red {
  flex-direction: column;
  align-items: center; /* Centramos horizontalmente las redes sociales en dispositivos móviles */
}

.red a {
  margin: 7px; /* Ajustamos el espaciado de las redes sociales */
}

/* Opcional: cambiar el estilo cuando el cursor está sobre el botón */
#carrerasButton:hover {
  color: rgb(114, 212, 204); /* Cambiar el color del texto cuando el cursor está sobre él */
  text-decoration: none; /* Eliminar el subrayado en el hover */
}

@media (max-width: 767px) {
  .redes_sociales {
    display: none;
  }

  .redes_sociales_floating {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(37, 165, 159);
    border-radius: 50%;
    padding: 10px;
  }

  .redes_sociales_floating a {
    color: #6ea1a3;
    margin: 5px;
  }
}
/* Resto de estilos... */

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 100px) {
  .menu-horizontal {
    flex-direction: column; /* Alinear las anclas verticalmente en móviles */
  }

  .menu-horizontal li {
    text-align: center; /* Centrar el texto de las anclas en móviles */
  }

  .menu-horizontal li a {
    padding: 10px 20px; /* Ajustar el padding de las anclas en móviles */
    font-size: 12px; /* Ajustar el tamaño de fuente de las anclas en móviles */
  }

  .menu-horizontal li ul {
    display: none; /* Ocultar el menú vertical en móviles */
  }
  .menu-horizontal li ul li {
    width: 100%; /* Ajustar el ancho del menú vertical al 100% en móviles */
    text-align: center; /* Centrar el texto del menú vertical en móviles */
  }
}
#carrerasButton {
  font-size: 12px; /* Ajusta el tamaño de fuente para el botón "Carreras" en móviles */
  margin-left: 70px;
}

.menu-horizontal li:nth-child(3) {
  order: 3; /* Cambiar el orden del tercer elemento (Carreras) en móviles */
}
/* Estilos para pantallas medianas */
@media screen and (min-width: 601px) and (max-width: 991px) {
  .encabezado {
    flex-direction: column; /* Cambia el flujo de los elementos a columnas en pantallas medianas */
  }

  .logo img {
    margin-left: auto; /* Centra el logo en pantallas medianas */
    margin-right: auto;
  }

  .menu {
    flex: 1; /* Ajusta el ancho del menú en pantallas medianas */
    margin-top: 20px; /* Agrega un margen arriba del menú en pantallas medianas */
  }

  .menu-horizontal {
    justify-content: center; /* Centra horizontalmente los elementos del menú en pantallas medianas */
  }

  .menu-horizontal li {
    position: relative;
    margin-bottom: 10px; /* Agrega un margen entre los elementos del menú en pantallas medianas */
  }

  #carrerasButton {
    font-size: 14px; /* Ajusta el tamaño de fuente para el botón "Carreras" en pantallas medianas */
    margin-right: 0; /* Elimina el margen derecho del botón "Carreras" en pantallas medianas */
  }

  .menu-horizontal li a {
    padding-right: 20px; /* Ajusta el padding para los enlaces en pantallas medianas */
    font-size: 14px; /* Ajusta el tamaño de fuente para los enlaces en pantallas medianas */
  }
}
